<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фото-блог</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

  <header class="header">
      <div class="header-top">
          <%= link_to "ФОТО БЛОГ", root_path, class: "logo" %>

          <nav class="navigation">
              <ul class="menu">
                  <li class="menu-element">
                      <i style="color: #000;" class="fa-solid fa-house"></i>
                      <%= link_to "Главная", root_path %>
                  </li>

                  <li class="menu-element">
                      <i style="color: #000;" class="fa-solid fa-plus"></i>
                      <%= link_to "Добавить пост", "/blog_posts/new" %>
                  </li>

                  <li class="menu-element">
                      <% if user_signed_in? %>
                          <i style="color: #000;" class="fa-solid fa-user"></i>
                          <%= link_to "Мой профиль", user_path(current_user) %>
                      <% end %>
                  </li>

                  <li class="menu-element">
                      <% if user_signed_in? %>
                          <% if current_user.avatar.attached? %>
                              <img style="width: 50px; height: 50px; border-radius: 100px;" <%= image_tag url_for(current_user.avatar) %> />
                          <% else %>
                              <%= image_tag "base-avatar.jpg", style: "width: 50px; height: 50px; border-radius: 100px;" %>
                          <% end %>
                      <% end %>
                  </li>

                  <% if !user_signed_in? %>
                      <li class="menu-element">
                          <%= link_to "Войти", new_user_session_path %>
                      </li>
                  <% end %>

                  
                  <%= form_tag root_path, method: :get do %>
                      <%= text_field_tag :search, params[:search], placeholder: "Найти пост", class: "search_field" %>
                      <%= submit_tag "Поиск", class: "search_button" %>
                  <% end %>
                  </li>
              </ul>
          </nav>

          
          
      </div>
  </header>

  <h2 style="text-align: center; font-size: 30px;">Регистрация</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <h3>Email адрес <span style="color: red;">*</span> </h3> 
      <!--<%= f.label "Email адрес" %></br >-->
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <h3>Имя пользователя <span style="color: red;">*</span> </h3>
      <!--<%= f.label "Имя пользователя" %><br />-->
      <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
    </div>

    <div class="field">
      <h3>Пароль <span style="color: red;">*</span> </h3>
      <!--<%= f.label "Пароль" %>-->
      <% if @minimum_password_length %>
      <em>(Минимум <%= @minimum_password_length %> символов)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <h3>Подтверждение пароля <span style="color: red;">*</span> </h3>
      <!--<%= f.label "Подтверждение пароля" %><br />-->
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label "Выбрать аватар", for: "user_avatar", class: "upload_file_button" %>
      <%= f.file_field :avatar %>
    </div>

    <div class="actions">
      <%= f.submit "Зарегистрироваться" %>
    </div>
  <% end %>

  <%#= render "devise/shared/links" %>

  <script src="https://kit.fontawesome.com/c6ba37b0b2.js" crossorigin="anonymous"></script>
    
</body>
</html>


