<%= form_with model: @blog_post do |form| %>
    <% if form.object.errors.any? %>
        <div>
            <% form.object.errors.full_messages.each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
    <% end %>

    <div class="field">
        <%= form.label "Заголовок" %>
        <%= form.text_field :title %>
    </div>
    
    <div class="field">
        <%= form.label "Текст поста" %>
        <%= form.text_area :content %>
    </div>

    <div class="field">
        <%= form.label "Картинка для поста" %>
        <%= form.file_field :image %>
    </div>
    
    <%= form.button %>
<% end %>