<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlog</title>
</head>
<body>

    <%= link_to "На главную", root_path, class: "root_path" %>

    <section>

        <div align="center">
            <% if user_signed_in? %>
                <% if @user.avatar.attached? %>
                    <%= image_tag @user.avatar, style: "width: 200px; height: auto; border-radius: 100px;" %>
                <% end %>

                <div align="center">
                    <span><%= @user.username %></span>
                </div>

                <div align="center">
                    <%= link_to "Изменить профиль", edit_user_registration_path, class: "edit_profile" %>
                    <%= button_to "Выйти", destroy_user_session_path, method: :delete %>
                </div>
            <% end %>
        </div>
        
    </section>

    <div class="posts">
        <h1>Мои посты</h1>
    </div>

    <section>
        <div class="container">
            <div class="wrapper">
                <% @blog_posts.each do |blog_post| %>
                    <div align="center" class="wrapper_post">
                        <h2> <%= blog_post.title%> </h2>
                        <img style="width: 500px; height: 500px;" <%= image_tag blog_post.image %>
                        <%= link_to "Подробнее", blog_post, class: "index_link_to_post" %>
                    </div>
                    <br>
                <% end %>
            </div>
        </div>
    </section>


    
</body>
</html>