<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlog</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-top">
            <%= link_to "ФОТО БЛОГ", root_path, class: "logo" %>

            <nav class="navigation">
                <ul class="menu">
                    <li class="menu-element">
                        <i style="color: #000;" class="fa-solid fa-house"></i>
                        <%= link_to "Главная", root_path %>
                    </li>

                    <li class="menu-element">
                        <i style="color: #000;" class="fa-solid fa-plus"></i>
                        <%= link_to "Добавить пост", "/blog_posts/new" %>
                    </li>

                    <li class="menu-element">
                        <%= button_to "Выйти из аккаунта", destroy_user_session_path, method: :delete, class: "exit_button" %>
                    </li>

                </ul>
            </nav>

            <% if !user_signed_in? %>
                <div>
                    <%= link_to "Войти", new_user_session_path, class: "menu-element" %>
                    <%= link_to "Регистрация", new_user_registration_path, class: "menu-element" %>
                </div>
            <% end %>
            
        </div>
    </header>

    <section>

        <div align="center">
            <% if user_signed_in? %>
                <% if @user.avatar.attached? %>
                    <%= image_tag @user.avatar, style: "width: 200px; height: auto; border-radius: 100px; margin-top: 25px;" %>
                <% else %>
                    <%= image_tag "base-avatar.jpg", style: "width: 200px; height: auto; border-radius: 100px; margin-top: 25px;" %>
                <% end %>

                <div align="center">
                    <span><%= @user.username %></span>
                </div>

                <div align="center">
                    <%= link_to "Изменить профиль", edit_user_registration_path, class: "edit_profile" %>
                    <%#= button_to "Выйти", destroy_user_session_path, method: :delete %>
                </div>
            <% end %>
        </div>
        
    </section>

    <div class="posts">
        <h1>Подписки</h1>
    </div>

    <section>
        <div class="container">
            <div class="wrapper">
                <% if @subscribed_posts.any? %>
                    <% @subscribed_posts.each do |post| %>
                        <div align="center" class="wrapper_post">
                            <h2> <%= post.title%> </h2>
                            <img style="width: 500px; height: 500px; border-radius: 20px;" <%= image_tag post.image %>
                            <%= link_to "Читать", post, class: "index_link_to_post" %>
                        </div>
                        <br>
                    <% end %>
                <% else %>
                    <p class="subs_user_title">Вы не подписаны ни на одного пользователя. 
                    <br> <span style="font-size: 200px; color: #9d9d9d;">:(</span> </p>
                <% end %>
            </div>
        </div>
    </section>


    <script src="https://kit.fontawesome.com/c6ba37b0b2.js" crossorigin="anonymous"></script>
</body>
</html>